<% content_for :title, 'Alle Unternehmen' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %>&nbsp;</td>
        <td>&nbsp;|&nbsp;<%= link_to 'Übersicht', business %></td>

        <% if( @userBusinesses ) %>
            <% if( @userBusinesses.include?(business) ) and current_user.has_role? :business_admin, business %>
                <td>&nbsp;|&nbsp;<%= link_to 'Business-Informationen bearbeiten', edit_business_path(business) %></td>
            <% end %>
        <% end %>

        <% if( @userBusinesses ) %>
            <% if( @userBusinesses.include?(business) ) and current_user.has_role? :business_admin, business %>
        <td>&nbsp;|&nbsp;<%= link_to 'Löschen', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

