<% content_for :title, 'Alle Unternehmen' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %>&nbsp;</td>
        <td>&nbsp;|&nbsp;<%= link_to 'Anzeigen', business %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, :business %>
<%= link_to 'Neues Unternehmen anlegen', new_business_path %>
<% end %>