<% content_for :title, "Allgemeine Geschäftsbedingungen (AGB)" %>
<h3>Vorwort</h3>

<h4>Wichtiger Hinweis</h4>

Alle auf dieser Webseite angebotenen Leistungen sind kostenfrei. Es gibt keine versteckten Kosten oder sonstige "Fallstricke"!

<h4>Bezeichnungen</h4>

Im folgenden werden folgende Bezeichnungen verwendet:
Endkunde: Kunden unseres Portals, die zum Zwecke der Buchung einer Leistung das Portal nutzen. Im Falle einer Buchung entsteht ein Vertrag mit dem Anbieter.
Anbieter: Künstler, Dienstleister und Veranstalter, die sich auf unserem Portal präsentieren, um ihre Dienste anzubieten.

<div class="divider"></div>
<h3>Vertragsgegenstand</h3>

<h4>Gültigkeit</h4>

Mit der Anmeldung als Endkunde oder Anbieter werden die AGB akzeptiert. Sie sind Vertragsbestandteil mit der partychamp GmbH (folgend partychamp genannt). Die Nutzung dieses Angebots gilt sowohl für gewerbliche Zwecke als auch für nichtgewerbliche Zwecke. Kunden, die das 18. Lebensjahr noch nicht vollendet haben, müssen uns eine Einwilligung der Eltern vorlegen oder sie können das Angebot bis zur Vollendung des 18. Lebensjahres nur eingeschränkt nutzen.

<h4>Inhalt</h4>

partychamp stellt seinen Endkunden ein Online-Portal zur Anbahnung von Kontakten mit Anbietern zur Verfügung.
Gleichzeitig ist partychamp eine Community für Anbieter zum Anbahnen neuer Geschäftsbeziehungen und zum Austausch von Informationen.

<h4>Kosten</h4>

Die Anmeldung und Nutzung ist für Endkunden und Anbieter kostenfrei.

<h4>Systemmeldungen</h4>

Mit der Anmeldung als Endkunde oder Anbieter wird akzeptiert, dass partychamp in unregelmä&szligigen Abständen Meldungen an seine Kunden per E-Mail verschickt. Hierbei handelt es sich um wichtige, teilweise vertragsrelevante Informationen.

<div class="divider"></div>
<h3>Vertragsschluss</h3>

<h4>Endkunde</h4>

Mit dem verbindlichen Buchen eines Anbieters geht der Endkunde einen Vertrag mit diesem Anbieter ein. Es gibt kein Vertragsverhältnis mit partychamp.

<h4>Anbieter</h4>

Wird ein Anbieter verbindlich gebucht, entsteht ein Vertragsverhältnis zwischen Anbieter und Endkunde. Der Anbieter verpflichtet sich dadurch, dass er zum vereinbarten Termin erscheint und Leistungen anhand seiner Beschreibung erbringt. Es gibt kein Vertragsverhältnis mit partychamp.

<div class="divider"></div>
<h3>Kündigung</h3>

<h4>Endkunde</h4>

Eine Kündigung ist für Endkunden jederzeit in seinem Profilbereich möglich.
Das Profil von uns gelöscht.

<h4>Anbieter</h4>

Eine Kündigung ist für Anbieter jederzeit in ihrem Profilbereich möglich.
Das Profil von uns gelöscht.
<div class="divider"></div>
<h3>Haftung</h3>

<h4>Profil</h4>

Für alle Angaben in den Profilseiten trägt der jeweilige Kunde die Verantwortung. Jeder Kunde versichert die Richtigkeit seiner Angaben. Er muss sicherstellen, dass er keine Schadprogramme, wie Trojaner oder Viren einbringt.    Er muss alle Angaben und E-Mails vertraulich behandeln und darf diese nicht an Dritte weiter geben. Missbrauch oder missbräuchliches Verhalten führen zum Ausschluss aus partychamp und werden zivilrechtlich verfolgt. Für Schäden, die aus solchem Verhalten entstehen, kann seitens partychamp keine Haftung übernommen werden.

<h4>Buchungen</h4>

partychamp stellt die technischen Voraussetzungen zur Anbahnung von Kontakten und daraus resultierenden Bookings zur Verfügung. Partychamp übernimmt keine Haftung für vertragswidriges Verhalten des Anbieters gegenüber dem Endkunden. Gleiches gilt für Schäden, die durch den Auftritt entstanden sind.

<h4>Erreichbarkeit</h4>

Partychamp haftet nicht für Schäden, die durch technische Probleme des Portals oder durch Serverausfall entstehen.

<div class="divider"></div>
<h3>Urheberrecht</h3>

<h4>partychamp</h4>

Name und Marke "partychamp" sind urheberrechtlich geschützt und dürfen nur von partychamp selbst frei genutzt werden. Jeder Kunde im Portal ist berechtigt, den Namen partychamp für seine Tätigkeit zu nutzen. Dies darf er allerdings niemals in verunglimpfender Weise.

<h4>Programme und Informationen</h4>

Alle Programme und darin enthaltenen Informationen und andere Inhalte sind geschützt und dürfen nur im Sinne der Kontaktanbahnung genutzt werden.

<div class="divider"></div>
<h3>Gerichtsstand</h3>

<h4>Gerichtsstand</h4>

Gerichtsstand ist Lippstadt. Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss deutschen Kollisionsrechts.

<div class="divider"></div>
<h3>Schlussbestimmungen</h3>

<h4>Aktuelle AGB</h4>

Die zum Zeitpunkt des Vertragsabschlusses gültigen AGB muss der Kunde selbst speichern oder ausdrucken und zu seinen Unterlagen geben, da partychamp diese nicht automatisch gespeichert hält.

<h4>Salvatorische Klausel</h4>

Sollten eine oder mehrere Bestimmungen des Vertrags oder der AGB unwirksam sein oder werden oder sollte der Vertrag unvollständig sein, berührt dies die Wirkung der übrigen Bestimmungen nicht. Die unwirksame Regelung ist durch eine wirksame Regelung zu ersetzen, die dem rechtlichen und wirtschaftlichen Willen der Vertragsparteien am nahesten kommt.

