<p id="notice"><%= notice %></p>

<p>
  <strong>Hasequipment:</strong>
  <%= @musician.hasEquipment %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
