<%= form_for(@guestlist) do |f| %>
  <% if @guestlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guestlist.errors.count, "error") %> prohibited this guestlist from being saved:</h2>

      <ul>
      <% @guestlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
