<% content_for :title, "Suchen, Finden, Feiern" %>
<div class="row">
  <div class="row portfolio-pad">
    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 item"></div>
    <%= link_to 'Branchen' do %>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 item">
          <div class="portfolio-item">
            <%= image_tag 'everent_logo.png' %>
            <div class="portfolio-item-title">
                <span class="text-center">
                  Branchen
                </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    <% end %>
    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 item"></div>
  </div>
  <%= %>us
  us
  usus
</div>