label{
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 200px !important;
}

.form-icon{
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-icon img {
    margin-top: -20px;
    z-index: 1;
    position: relative; }

.form-icon input {
    z-index: 2;
    position: relative; }

.form-icon:hover{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 0px 8px rgba(102, 175, 233, 0.6);
}

form > .row {
    margin-bottom: 20px;

}

.optional-password {
    display: none;

}

.logo { height: 60px; }

.field_with_errors input {
    border: 1px solid red;
}

.input-group-addon:first-child{
    min-width:50px;
}

.thumb-pic{
    max-width:50px;
    max-height:50px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.medium-pic{
    max-width:300px;
    max-height:300px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-section{
    margin-bottom: 50px;
}

.small-new-section{
    margin-bottom: 20px;
}

.pretty-table tr td{
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
}

.pretty-table tr td:first-child{
    font-weight: bold;
}
.pretty-table tr td:last-child{
    padding-right: 0;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    background: #eee !important;
    color: #aaa !important;
}

.location{
    background-color: transparent;
    border: 2px solid #FAFAFA;
    line-height: 44px;
}

.input-group-label-head{
}

.input-group-label-head i.fa{
    font-size: 2em;
    line-height:18px;
    margin:0 5px 3px 10px;
    vertical-align: middle;
}

.input-group-input-head{
    background-color: transparent;
    color: #fafafa;
    cursor: pointer;
    border: none;
    margin:0;
    padding: 0;
}

.no-li-style{
    border: none;
}

.no-padding{
    padding:0;
}

.time-select-style{
    width: auto;
    display: inline;
}

.event-listings{
    margin: 0 0 0px;
}


.event-listings > div{
}

span.listing:after{
    content: ", ";
}

span.listing:last-of-type:after{
    content: "";
}


.post-item-link{
    height: 200px;
}

.latest-posts .portfolio-item{
    height: 200px;
    background: none;
}

.latest-posts .portfolio-item img{
    max-height:100%;
    width:auto;
    margin:auto
}


@media handheld,only screen and (max-width:640px) {

    .latest-posts .portfolio-item{
        height: auto;
    }
}

.flyer-show {
    max-height:600px;
    max-width:100%;
    float:left;
}
.flyer-show img{
    max-height:100%;
    max-width:100%;
}

.flyer-event-index img{
    max-height: 300px;
    width:auto;
    float:left;
}

.portfolio-item-image{
    margin-right: 20px;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 10px;
}

.nice{
    background-color: #f4f4f4;
}

.portfolio-item .post-header{
    margin-bottom: 10px;
    margin-left:20px;
}

h3.content-title{
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-date{
    margin-top: -10px;
}

.event-listings .portfolio-item p{
    margin:20px 20px;
}

#horizontal-tabs .tabscontent{
    padding: 0;
}

.hover-show-content{
    opacity: 0;
    height:0;
}

hr {
    border-top-color: #c9c9c9;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color:grey;
}
.not-active img{
    opacity: 0.5;
}

td span.date{
    font-weight: 100;
}

#horizontal-tabs .tabscontent.padding10{
    padding: 10px;

}
